 * {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 1.1rem;
    font-family: 'Segoe UI',  sans-serif;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    min-height: 100vh;
    padding: 1rem;
    
}

.header {
    grid-area: "header";
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.logo {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul {
    display: flex;
    list-style-type: none;
}


.navbar a {
    text-decoration: none;
    list-style: none;
    margin-left: 1rem;
    
    cursor: pointer;
}

.navbar a:hover {
    color: rgba(15, 110, 110, 0.493);
    
}
.navbar a {
    position: relative; /* needed for ::before positioning */
    text-decoration: none;
    color: #333;
    cursor: pointer;
    padding-bottom: 2px; /* space for underline */
    transition: color 0.2s;
}

.navbar a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px; /* thickness of underline */
    bottom: 0;
    left: 0;
    background-color: #0f6e6e;
    transition: width 0.3s ease-in-out;
}

.navbar a:hover::before {
    width: 100%;
}


.main {
    grid-area: main;

}

.footer {
    grid-area: main;
}